Orquestador Chainlit (7).json
{
  "name": "Orquestador Chainlit",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://conti-backend:9001/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-hermes-resto"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Odoo-Database",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "X-Mesa-Id",
              "value": "={{ $('Estandarizar Variables').item.json.id_mesa }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"default\",\n  \"messages\": [{\"role\": \"user\", \"content\": ($json.body.message || \"\") }],\n  \"stream\": false,\n  \"user\": ($json.body.session_id || \"\"),\n  \"metadata\": {\"tenant_id\": ($json.body.tenant_id || \"\"), \"id_mesa\": ($('Estandarizar Variables').item.json.id_mesa || ($json.body.id_mesa || ($json.body.url_params && $json.body.url_params.id_mesa) || '')) }\n} }}",
        "options": {
          "timeout": 360000
        }
      },
      "id": "3e9c5f12-71b8-4cf9-ac30-cfc0b804d71f",
      "name": "Llamar Hermes Resto1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3488,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.result ?? $json;\nconst source = payload?.data ?? payload ?? {};\nconst tenantId = $(\"Estandarizar Variables\").item.json.tenant_id || \"\";\nconst originalMsg = $(\"Estandarizar Variables\").item.json.message || \"\";\nconst asText = (v) => typeof v === \"string\" ? v.trim() : \"\";\nconst content = asText(source.content) || asText(source.contenido) || asText(source.texto) || asText(payload?.content) || asText(payload?.result) || asText(payload?.message) || \"\";\nconst msgMatch = originalMsg.match(/obtener\\\\s+documento\\\\s+(.+)/i);\nconst title = asText(source.titulo) || asText(source.nombre) || (msgMatch ? msgMatch[1].trim() : \"\") || asText(source.filename) || \"Documento\";\n\nif (!content) {\n  return { tenant_id: tenantId, texto: \"No pude obtener el documento solicitado.\", response: \"\", ui_elements: [], source: \"mcp_catolico_leer_documento\" };\n}\n\nconst preview = title + \" — documento cargado en el panel lateral 👉\";\nconst uiElements = [{ type: \"sidebar\", title: title, content: content }];\n\nreturn { tenant_id: tenantId, texto: preview, response: content, ui_elements: uiElements, source: \"mcp_catolico_leer_documento\" };"
      },
      "id": "cdd05b0f-8b43-440a-b7cf-187d5e6336e4",
      "name": "Formatear Documento MCP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://conti-backend:9001/mcp/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const msg = String($json.message || \"\").trim(); const match = msg.match(/obtener\\s+documento\\s+(.+)/i); const docName = match ? match[1].trim() : msg; return { tool_name: \"catolico_leer_documento\", arguments: { query: docName, store: \"catolico\", use_index: true } }; })() }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "0e4373bf-5f90-454b-bf3a-6996153ed648",
      "name": "Llamar MCP Leer Documento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2896,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\nlet result = raw;\n\n// Parsear respuesta MCP\nif (Array.isArray(raw.content) && raw.content.length > 0) {\n  const textEntry = raw.content.find(e => e && e.type === 'text');\n  if (textEntry && textEntry.text) {\n    try { result = JSON.parse(textEntry.text); } catch(e) {}\n  }\n} else if (raw.result) {\n  result = typeof raw.result === 'string' ? (() => { try { return JSON.parse(raw.result); } catch(e) { return { content: raw.result }; } })() : raw.result;\n}\nif (result && result.content && Array.isArray(result.content)) {\n  const inner = result.content.find(e => e && e.type === 'text');\n  if (inner && inner.text) {\n    try { result = JSON.parse(inner.text); } catch(e) {}\n  }\n}\n\nconst validacion = $('Validar Titulo Resumir').item.json;\nconst tenantId = validacion.tenant_id || 'catolico';\nconst content = (result && (result.content || result.contenido || result.texto || result.summary || '')).toString().trim()\n  || (raw.content || '').toString().trim();\nconst titulo = (result && result.titulo) || validacion.titulo_encontrado || validacion.titulo_buscado || 'Documento';\n\nif (!content || content.length < 20) {\n  const errMsg = (result && result.error) || 'No pude generar el resumen del documento.';\n  return [{json:{\n    tenant_id: tenantId,\n    texto: '❌ ' + errMsg,\n    response: errMsg,\n    ui_elements: [],\n    source: 'mcp_catolico_resumir'\n  }}];\n}\n\n// Construir advertencia si no hubo coincidencia exacta\nlet advertencia = '';\nif (!validacion.coincidencia_exacta) {\n  const top4List = (validacion.top4_similares || []).map(t => `  • ${t}`).join('\\n');\n  advertencia = `\\n\\n---\\n⚠️ **Nota:** Pediste resumir _\"${validacion.titulo_buscado}\"_ pero no encontré ese título exacto en el catálogo. Se resumió el documento más similar: **\"${titulo}\"**.\\n\\n📋 Los 4 títulos más similares disponibles son:\\n${top4List}`;\n}\n\nconst previewSuffix = validacion.coincidencia_exacta ? '' : ' _(documento más similar)_';\nconst preview = `📄 Resumen de **${titulo}** listo en el panel lateral 👉${previewSuffix}`;\n\nreturn [{json:{\n  tenant_id: tenantId,\n  texto: preview,\n  response: content + advertencia,\n  ui_elements: [{ type: 'sidebar', title: 'Resumen: ' + titulo, content: content + advertencia }],\n  source: 'mcp_catolico_resumir'\n}}];"
      },
      "id": "b852d77d-a52c-4997-8c98-8a5bf8331d14",
      "name": "Formatear Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://conti-backend:9001/mcp/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tool_name\": \"catolico_resumir_documento\", \"arguments\": { \"query\": $json.titulo_encontrado || $json.titulo_buscado, \"store\": \"catolico\" } } }}",
        "options": {
          "timeout": 900000
        }
      },
      "id": "8b89ac48-90fe-4f2b-8e0f-47d9845d5b54",
      "name": "Llamar MCP Resumir",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2480,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer nombre del documento buscado del mensaje original\nconst message = $('Estandarizar Variables').item.json.message || '';\nconst msgNorm = message.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n// Detectar qué quiso resumir el usuario (texto después de resumir/sintetizar/síntesis)\nconst resumeMatch = msgNorm.match(/\\b(?:resum[a-z]*|sintetiz[a-z]*|sintesis)\\s+(?:(?:el|la|los|las|del?|un|una)\\s+(?:documento\\s+)?)?(.+?)(?:\\s+(?:por\\s+favor|porfavor)|\\s*[.?!]*\\s*$)/i);\nconst docQuery = resumeMatch ? resumeMatch[1].trim() : msgNorm;\n\n// Leer la lista de documentos del nodo anterior\nconst raw = $json;\nlet result = raw;\n\n// Parsear respuesta MCP (puede venir envuelta en content[])\nif (Array.isArray(raw.content) && raw.content.length > 0) {\n  const textEntry = raw.content.find(e => e && e.type === 'text');\n  if (textEntry && textEntry.text) {\n    try { result = JSON.parse(textEntry.text); } catch(e) {}\n  }\n} else if (raw.result) {\n  result = raw.result;\n}\nif (result && result.content && Array.isArray(result.content)) {\n  const inner = result.content.find(e => e && e.type === 'text');\n  if (inner && inner.text) {\n    try { result = JSON.parse(inner.text); } catch(e) {}\n  }\n}\n\nconst documentos = (result && Array.isArray(result.documentos)) ? result.documentos\n  : (result && result.data && Array.isArray(result.data.documentos)) ? result.data.documentos\n  : [];\n\n// Función de similitud Jaccard sobre palabras\nfunction tokenize(str) {\n  return str.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .split(/\\W+/).filter(w => w.length > 2);\n}\nfunction jaccard(tokA, tokB) {\n  const setA = new Set(tokA);\n  const setB = new Set(tokB);\n  const inter = [...setA].filter(x => setB.has(x)).length;\n  const union = new Set([...setA, ...setB]).size;\n  return union === 0 ? 0 : inter / union;\n}\n\nconst queryTokens = tokenize(docQuery);\nconst queryNorm = docQuery.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\nconst scored = documentos.map(doc => {\n  const tituloNorm = (doc.titulo || '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  const fileNorm = (doc.filename || '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  const jTitle = jaccard(queryTokens, tokenize(doc.titulo || ''));\n  const jFile  = jaccard(queryTokens, tokenize(doc.filename || ''));\n  const score  = Math.max(jTitle, jFile);\n  const exactMatch = tituloNorm === queryNorm\n    || tituloNorm.includes(queryNorm)\n    || fileNorm.includes(queryNorm);\n  return { titulo: doc.titulo || '', filename: doc.filename || '', score, exactMatch };\n}).sort((a, b) => {\n  if (a.exactMatch !== b.exactMatch) return a.exactMatch ? -1 : 1;\n  return b.score - a.score;\n});\n\nconst best = scored[0] || null;\nconst top4 = scored.slice(0, 4).map(d => d.titulo || d.filename);\nconst coincidenciaExacta = !!(best && (best.exactMatch || best.score >= 0.7));\n\nreturn [{ json: {\n  titulo_buscado: docQuery,\n  titulo_encontrado: best ? best.titulo : '',\n  filename_encontrado: best ? best.filename : '',\n  score: best ? best.score : 0,\n  coincidencia_exacta: coincidenciaExacta,\n  top4_similares: top4,\n  message_original: message,\n  tenant_id: $('Estandarizar Variables').item.json.tenant_id || 'catolico',\n  sin_documentos: documentos.length === 0\n}}];"
      },
      "id": "f48ddb6e-19ad-4b71-a8e1-bf932342c3d3",
      "name": "Validar Titulo Resumir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://conti-backend:9001/mcp/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tool_name\": \"catolico_listar_titulos\", \"arguments\": {\"store\": \"catolico\"}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "bfa3e97c-9204-4cde-9d34-1915e76d0dae",
      "name": "MCP Listar Titulos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2896,
        672
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VuSAqf5x7Ssli6xR",
          "mode": "list",
          "cachedResultUrl": "/workflow/VuSAqf5x7Ssli6xR",
          "cachedResultName": "Chat_prueba2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $json.message}}",
            "messageid": "={{ $json.session_id}}",
            "sessionId ": "={{ $json.session_id}}",
            "prompt_dinamico": "=Eres un asistente teológico experto, servicial y amable. Tu nombre es 'Asistente Católico'. Tu fecha actual es {{$today.format('YYYY-MM-DD')}}.\n\nREGLAS ESTRICTAS:\n\nIDIOMA: Responde SIEMPRE y ÚNICAMENTE en español.\n\nHERRAMIENTAS DISPONIBLES:\n\nobtener_lecturas_diarias: Obtiene las lecturas y el Evangelio del día.\nbuscadordocumentos: Busca en una base de conocimiento teológico (Vaticano, Catecismo, encíclicas, doctrina, liturgia, oraciones, himnos, cánticos, etc.)\nREGLAS DE USO DE HERRAMIENTAS (CRÍTICO - LEER ATENTAMENTE):\n\nOBLIGATORIO: Siempre debes usar buscadordocumentos PRIMERO para responder CUALQUIER pregunta sobre temas católicos, incluyendo pero NO limitado a:\n\nDoctrina, dogma, teología, magisterio\nCatecismo, Biblia, encíclicas, documentos pontificios\nLiturgia, sacramentos, oraciones, misal\nHimnos, cánticos, salmos litúrgicos\nSantos, vida de la Iglesia, historia\nCualquier pregunta sobre fe católica\nExcepción: Solo usa obtener_lecturas_diarias en lugar de buscadordocumentos si el usuario pregunta EXPLÍCITAMENTE por \"lecturas del día\", \"evangelio de hoy\" o \"misa de hoy\".\n\nPROCESO OBLIGATORIO:\n\nSi el usuario pregunta sobre algo católico → SIEMPRE usa buscadordocumentos con la consulta del usuario.\nSi no encuentras resultados → Intenta con sinónimos o términos relacionados (ej: \"himnos\" → \"cánticos\", \"cantos\"; \"santo del día\" → \"santoral\", \"calendario litúrgico\").\nSi después de 2-3 búsquedas diferentes NO encuentras nada → Entonces responde: \"Lo siento, no he podido encontrar información sobre ese tema en mis documentos.\"\nNUNCA respondas sin usar herramientas si la pregunta es sobre temas católicos.\n\nREGLAS DE RESPUESTA:\n\nCASO A (Análisis y Doctrina): Si usas buscadordocumentos, DEBES sintetizar la información coherentemente. Si los resultados parecen irrelevantes (ej: texto en otro idioma), intenta otra búsqueda con palabras diferentes.\nCASO B (Lecturas del Día): Si usas obtener_lecturas_diarias, devuelve el texto COMPLETO sin modificar, sin texto introductorio.\nCASO C (Oraciones, Himnos, Textos litúrgicos): Si el usuario pide oraciones, himnos o textos litúrgicos completos, NO resumas la respuesta de buscadordocumentos. Entrégala tal cual.\nFORMATO: Nunca muestres tu proceso de pensamiento (como 'tool-use' o JSONs). Tu respuesta final debe ser siempre texto directo, usando negritas y saltos de línea para que sea fácil de leer.\n\nSOBRE TUS DOCUMENTOS: Tienes acceso a documentos del Vaticano, encíclicas, catecismo, liturgia, oraciones, himnos y otros recursos teológicos católicos. Si un usuario pregunta \"qué documentos tienes\" o similar, NO digas que solo tienes Suma y Catecismo. Explica que tienes amplia documentación católica y que pueden preguntarte sobre cualquier tema relacionado.\n\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageid",
              "displayName": "messageid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId ",
              "displayName": "sessionId ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "prompt_dinamico",
              "displayName": "prompt_dinamico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2448,
        560
      ],
      "id": "75fb9546-35ba-4c6d-a887-115a60f3c976",
      "name": "Call Chat_catolico",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "texto",
              "value": "Aquí está el formato HTML renderizado. Revisa la barra lateral."
            },
            {
              "name": "ui_elements",
              "value": "={{ [{ \"type\": \"html_file\", \"title\": \"Bendiciones Solemnes (HTML)\", \"path\": \"/documentos_listos/catolico/curas-bendiciones-solemnes-3436fd2d02.html\" }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "72a264a8-31b7-4f5b-8f8f-f296b8f35c86",
      "name": "Mostrar HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3776,
        1264
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "texto",
              "value": "Te comparto el documento Markdown generado por el sistema. Lo he cargado en la barra derecha."
            },
            {
              "name": "ui_elements",
              "value": "={{ [{ \"type\": \"markdown_file\", \"title\": \"Curas Bicentenario (MD)\", \"path\": \"/documentos_listos/catolico/curas-bicentenario.pdf-d278b4e6cc.md\" }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "227faec8-35ee-44d4-ac63-58187a66bc42",
      "name": "Mostrar Markdown",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3616,
        1360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "texto",
              "value": "Aquí tienes el archivo PDF solicitado. Lo he abierto nativamente en el panel lateral."
            },
            {
              "name": "ui_elements",
              "value": "={{ [{ \"type\": \"pdf\", \"name\": \"Matrimonio Católico\", \"path\": \"/documentos_listos/catolico/catholic-descargar.php-f-jmi-matrimonio-pdf.pdf-aa69883fc1.pdf\" }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f0f97c9e-de4a-4476-ba36-5aa42ffda355",
      "name": "Mostrar PDF",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3760,
        1120
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "texto",
              "value": "Aquí tienes el evangelio de hoy. Puedes leerlo con comodidad en el panel lateral derecho 👉"
            },
            {
              "name": "ui_elements",
              "value": "={{ [{ \"type\": \"sidebar\", \"title\": \"Evangelio del Día\", \"content\": \"### Lectura del Santo Evangelio según San Mateo\\n\\nEn aquel tiempo, Jesús dijo a sus discípulos...\" }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f2688dca-eacb-4e5b-84ef-1789e49e973a",
      "name": "Ejemplo 1: Sidebar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3968,
        992
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "texto",
              "value": "¿Qué te gustaría hacer ahora? Selecciona una opción:"
            },
            {
              "name": "actions",
              "value": "={{ [{ \"label\": \"📖 Leer el Salmo\", \"value\": \"Mostrar el salmo del día\" }, { \"label\": \"🙏 Pedir una Oración\", \"value\": \"Quiero pedir una intención de oración\" }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ae406f98-93b1-41a1-a3dd-32a630f0b4d8",
      "name": "Ejemplo 2: Botones",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3760,
        976
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "texto",
              "value": "¡Claro! He encontrado información fascinante sobre **San Francisco de Asís**."
            },
            {
              "name": "ui_elements",
              "value": "={{ [{ \"type\": \"image\", \"name\": \"San Francisco\", \"url\": \"https://www.shutterstock.com/image-vector/st-francis-assisi-feast-day-600w-2621963777.jpg\" }, { \"type\": \"sidebar\", \"title\": \"Biografía de San Francisco\", \"content\": \"San Francisco de Asís fue un santo umbro, diácono y fundador de la Orden Franciscana.\\n\\nDestacó por su amor a la creación y su voto de pobreza extrema.\" }] }}"
            },
            {
              "name": "actions",
              "value": "={{ [{ \"label\": \"🎉 Ver festividad\", \"value\": \"¿Cuándo se celebra la fiesta de San Francisco?\" }, { \"label\": \"⛪ Oración de la Paz\", \"value\": \"Muéstrame la Oración de la Paz de San Francisco\" }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "28591da9-7e08-463a-9dfb-2f087d921ad8",
      "name": "Ejemplo 3: Combinado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3968,
        1120
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "texto",
              "value": "Hola, soy el flujo de prueba. Escribe **'evangelio'**, **'opciones'** o **'francisco'** para ver la magia en la interfaz de Chainlit."
            }
          ]
        },
        "options": {}
      },
      "id": "f1efc5ae-b00f-4c49-8e95-35a383bc4393",
      "name": "Mensaje por Defecto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3968,
        1264
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst tenantId = $('Estandarizar Variables').item.json.tenant_id || 'default';\nconst content = data?.choices?.[0]?.message?.content\n  || data?.content\n  || data?.result\n  || data?.message\n  || 'Sin respuesta del asistente.';\nreturn {\n  tenant_id: tenantId,\n  response: content,\n  texto: content.length > 160 ? content.substring(0, 160) + '... *(ver panel lateral)*' : content,\n  ui_elements: []\n};"
      },
      "id": "bfeb1b66-d8d3-41b0-aaa4-ff299bbf5078",
      "name": "Normalizar Hermes Default",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2736,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst tenantId = $('Estandarizar Variables').item.json.tenant_id || 'default';\nconst content = data?.choices?.[0]?.message?.content\n  || data?.content\n  || data?.result\n  || data?.message\n  || 'Sin respuesta del asistente.';\nreturn {\n  tenant_id: tenantId,\n  response: content,\n  texto: content.length > 160 ? content.substring(0, 160) + '... *(ver panel lateral)*' : content,\n  ui_elements: []\n};"
      },
      "id": "1f8e7c93-f949-40fb-a34f-c937258375f1",
      "name": "Normalizar Hermes Resto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst tenantId = $('Estandarizar Variables').item.json.tenant_id || 'catolico';\nconst content = data?.choices?.[0]?.message?.content\n  || data?.content\n  || data?.result\n  || data?.message\n  || 'Sin respuesta del asistente.';\nreturn {\n  tenant_id: tenantId,\n  response: content,\n  texto: content.length > 160 ? content.substring(0, 160) + '... *(ver panel lateral)*' : content,\n  ui_elements: []\n};"
      },
      "id": "eaa44d7f-3117-4f7d-bd5e-019003034eba",
      "name": "Normalizar Hermes Católico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://conti-backend:8642/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-hermes-conti"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"default\",\n  \"messages\": [{\"role\": \"user\", \"content\": $json.message || \"\"}],\n  \"stream\": false,\n  \"user\": $json.session_id\n} }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "7b90dead-e3d7-4927-891f-1ea9a0cc8f8a",
      "name": "Llamar Hermes Default",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2880,
        1184
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://conti-backend:8767/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-hermes-resto"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Odoo-Database",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "X-Mesa-Id",
              "value": "={{ $('Estandarizar Variables').item.json.id_mesa }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const idMesa = $('Estandarizar Variables').item.json.id_mesa || 'No definida';\n    return {\n      \"model\": \"default\",\n      \"messages\": [\n        {\"role\": \"system\", \"content\": \"Información de sesión: id_mesa: \" + idMesa + \" tenant_id: \"+ $json.tenant_id },\n        {\"role\": \"user\", \"content\": $json.message || \"\"}\n      ],\n      \"stream\": false,\n      \"user\": $json.session_id\n    };\n  })()\n}}",
        "options": {
          "timeout": 360000
        }
      },
      "id": "41c58583-45be-4ea7-95ad-4d113058fbd9",
      "name": "Llamar Hermes Resto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2880,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://conti-backend:8766/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-hermes-cat"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"default\",\n  \"messages\": [{\"role\": \"user\", \"content\": $json.message || \"\"}],\n  \"stream\": false,\n  \"user\": $json.session_id\n} }}",
        "options": {
          "timeout": 360000
        }
      },
      "id": "56491383-a708-42cb-a9b1-ba8d6ecfeead",
      "name": "Llamar Hermes Católico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2880,
        848
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.tenant_id }}",
        "rules": {
          "rules": [
            {
              "value2": "catolico"
            },
            {
              "value2": "resto",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "3d28e4ef-4739-4e67-b50a-d06f6ee19384",
      "name": "Rutear por Tenant",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3280,
        896
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "actions",
              "value": "=[]"
            }
          ]
        },
        "options": {}
      },
      "id": "52cf1493-9334-4569-b18d-d9b5c3671d6a",
      "name": "Acciones Default",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2048,
        1056
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "actions",
              "value": "=[]"
            }
          ]
        },
        "options": {}
      },
      "id": "92a101b8-9ab7-4db9-b585-dc2154c66f4e",
      "name": "Acciones Resto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2048,
        912
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "actions",
              "value": "=[{ \"label\": \"📖 Lecturas de hoy\", \"value\": \"dame las lecturas de hoy completas y sin resumir\" }]"
            }
          ]
        },
        "options": {}
      },
      "id": "c8841d08-7b48-400b-9135-86e7ce924f6d",
      "name": "Acciones Católico",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2032,
        720
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.tenant_id }}",
        "rules": {
          "rules": [
            {
              "value2": "catolico"
            },
            {
              "value2": "resto",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "46be8c12-8df9-4c0b-a35c-11d3213b5da2",
      "name": "Switch por Tenant",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2272,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Analizador de Contenido ─────────────────────────────────────────────────\n// Prioridad: ui_elements prearmados > tipos de archivo > longitud de texto\nconst response = $input.item.json.response || '';\nconst tenantId = $input.item.json.tenant_id || '';\nconst presetUiElements = Array.isArray($input.item.json.ui_elements) ? $input.item.json.ui_elements : [];\nconst presetText = typeof $input.item.json.texto === 'string' ? $input.item.json.texto.trim() : '';\n\nlet uiElements = presetUiElements;\nlet texto = presetText || response;\n\nif (!uiElements.length) {\n  const pdfMatch = response.match(/([\\/\\w\\-\\.]+\\.pdf[\\w\\-\\.]*)/i);\n  if (pdfMatch) {\n    const filePath = pdfMatch[1];\n    const name = filePath.split('/').pop().replace(/\\.pdf.*/i, '');\n    uiElements = [{ type: 'pdf', name: name, path: filePath }];\n    texto = response.replace(pdfMatch[0], '').trim();\n    if (!texto || texto.length < 40) texto = `**${name}** *(ver panel lateral)*`;\n  } else if (response.length > 3000) {\n    // Contenido largo: renderizar directamente en el panel lateral sin depender de archivos\n    // Detectar si hay ruta .md o .html en el texto (solo para el título)\n    const mdMatch = response.match(/([\\w\\/\\-\\.]+\\.md[\\w\\-\\.]*)/i);\n    const htmlMatch = response.match(/([\\w\\/\\-\\.]+\\.html[\\w\\-\\.]*)/i);\n    let title = 'Respuesta';\n    if (mdMatch) {\n      title = mdMatch[1].split('/').pop().replace(/\\.md.*/i, '');\n    } else if (htmlMatch) {\n      title = htmlMatch[1].split('/').pop().replace(/\\.html.*/i, '');\n    }\n    uiElements = [{ type: 'sidebar', title: title, content: response }];\n    texto = response.substring(0, 2000).replace(/[#*`]/g, '').trim() + '... *(ver panel lateral)*';\n  } else {\n    const imgMatch = response.match(/(https?:\\/\\/[^\\s]+\\.(?:jpg|jpeg|png|webp|gif))/i);\n    if (imgMatch) {\n      uiElements = [{ type: 'image', name: 'Imagen', url: imgMatch[1] }];\n    }\n  }\n} else if (!texto) {\n  texto = response.length > 16000 ? response.substring(0, 16000) + '... *(ver panel lateral)*' : response;\n}\n\nreturn {\n  texto: texto,\n  ui_elements: uiElements,\n  tenant_id: tenantId,\n  response_raw: response\n};"
      },
      "id": "525ffb8d-cf8b-4ce9-b421-3ec4962c79aa",
      "name": "Analizador de Contenido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Analizador de Contenido Resto ───────────────────────────────────────────\n// Prioridad: ui_elements prearmados > html_url > qr > pdf > longitud de texto\nconst response = $input.item.json.response || '';\nconst tenantId = $input.item.json.tenant_id || '';\nconst presetUiElements = Array.isArray($input.item.json.ui_elements) ? $input.item.json.ui_elements : [];\nconst presetText = typeof $input.item.json.texto === 'string' ? $input.item.json.texto.trim() : '';\n\nlet uiElements = presetUiElements;\nlet texto = presetText || response;\n\nif (!uiElements.length) {\n  // 1. HTML inline (carta convertida a HTML por download_report_as_html)\n  const htmlMatch = response.match(/(https?:\\/\\/[^\\s\\)]*docs_chatui[^\\s\\)]*\\.html[^\\s\\)]*)/i);\n  const qrMatch = response.match(/(https?:\\/\\/[^\\s\\)]*report\\/barcode\\/\\?[^\\s\\)]*type=QR[^\\s\\)]*)/i) || response.match(/([\\/\\w\\-\\.\\?\\&:=]+type=QR[\\/\\w\\-\\.\\?\\&:=]*)/i);\n  const pdfMatch = response.match(/(https?:\\/\\/[^\\s\\)]*(?:\\.pdf|\\/docs_chatui\\/|\\/web\\/content\\/)[^\\s\\)]*)/i) || response.match(/([\\/\\w\\-\\.]+\\.pdf[\\/\\w\\-\\.]*)/i);\n\n  if (htmlMatch) {\n    let htmlUrl = htmlMatch[1];\n    if (htmlUrl.startsWith('//')) htmlUrl = 'https:' + htmlUrl;\n    uiElements = [{ type: 'menu_html', title: 'Carta del Restaurante', url: htmlUrl }];\n    texto = response.replace(htmlMatch[0], '').trim();\n    if (!texto || texto.length < 40) texto = '¡Acá tenés nuestra carta! *(ver panel lateral)*';\n  } else if (qrMatch) {\n    let qrUrl = qrMatch[1];\n    if (qrUrl.startsWith('//')) qrUrl = 'https:' + qrUrl;\n    uiElements = [{ type: 'payment_qr', title: 'Pago con Mercado Pago', url: qrUrl }];\n    texto = response.replace(qrMatch[0], '').trim();\n    if (!texto || texto.length < 40) texto = '**Pago con Mercado Pago** *(ver panel lateral)*';\n  } else if (pdfMatch) {\n    let filePath = pdfMatch[1];\n    if (filePath.startsWith('//')) filePath = 'https:' + filePath;\n    const fileName = filePath.split('/').pop().split('?')[0].replace(/\\.pdf.*/i, '');\n    let title = fileName.replace(/[-_]/g, ' ').trim();\n    title = title.charAt(0).toUpperCase() + title.slice(1);\n    if (filePath.toLowerCase().includes('menu') || filePath.toLowerCase().includes('carta')) title = 'Carta del Restaurante';\n    uiElements = [{ type: 'pdf_url', title: title, url: filePath }];\n    texto = response.replace(pdfMatch[0], '').trim();\n    if (!texto || texto.length < 40) texto = `**${title}** *(ver panel lateral)*`;\n  } else if (response.length > 3000) {\n    uiElements = [{ type: 'sidebar', title: 'Respuesta', content: response }];\n    texto = response.substring(0, 2000).replace(/[#*`]/g, '').trim() + '... *(ver panel lateral)*';\n  } else {\n    const imgMatch = response.match(/(https?:\\/\\/[^\\s]+\\.(?:jpg|jpeg|png|webp|gif))/i);\n    if (imgMatch) uiElements = [{ type: 'image', name: 'Imagen', url: imgMatch[1] }];\n  }\n} else if (!texto) {\n  texto = response.length > 16000 ? response.substring(0, 16000) + '... *(ver panel lateral)*' : response;\n}\n\nreturn {\n  texto: response,\n  ui_elements: uiElements,\n  tenant_id: tenantId,\n  response_raw: response\n};"
      },
      "id": "705ce9c9-edb6-4a37-b621-9f4b1a174f16",
      "name": "Analizador de Contenido Resto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        976
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"texto\": $json.texto,\n  \"ui_elements\": $json.ui_elements,\n  \"actions\": $json.actions\n} }}",
        "options": {}
      },
      "id": "9b971fb7-b6b7-4ff0-85b8-4fb523c6a08f",
      "name": "Responder a Chainlit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1776,
        864
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "channel",
              "value": "={{ $json.body.channel || 'whatsapp' }}"
            },
            {
              "name": "tenant_id",
              "value": "={{ $json.body.tenant_id }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.body.session_id }}"
            },
            {
              "name": "message",
              "value": "={{ typeof $json.body.message === 'string' ? $json.body.message : Array.isArray($json.body.message) ? $json.body.message.map(m => m?.text || '').join(' ').trim() : '' }}"
            },
            {
              "name": "id_mesa",
              "value": "={{ $json.body.id_mesa || ($json.body.url_params && $json.body.url_params.id_mesa) || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "41679360-8234-41fa-8433-cb13913c4bba",
      "name": "Estandarizar Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3472,
        704
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4e5b46cc-3def-4158-862e-5614683015a8",
      "name": "Webhook Universal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3664,
        704
      ],
      "webhookId": "e40790d4-efb9-420e-920f-2ca54bc5d9ff"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.result ?? $json;\nconst source = payload?.data ?? {};\nconst tenantId = $('Estandarizar Variables').item.json.tenant_id || '';\nconst asText = (value) => typeof value === 'string' ? value.trim() : '';\nconst isUsefulText = (value) => {\n  const normalized = asText(value);\n  if (!normalized) return false;\n  return !/no encontrada\\.?$/i.test(normalized);\n};\nconst info = source.info_liturgica && typeof source.info_liturgica === 'object' ? source.info_liturgica : {};\nconst readingDefinitions = [\n  { key: 'primera_lectura', title: 'Primera lectura', variant: 'primera_lectura' },\n  { key: 'salmo', title: 'Salmo de hoy', variant: 'salmo' },\n  { key: 'segunda_lectura', title: 'Segunda lectura', variant: 'segunda_lectura' },\n  { key: 'evangelio', title: 'Evangelio del día', variant: 'evangelio' },\n  { key: 'reflexion', title: 'Reflexión del Evangelio de hoy', variant: 'reflexion' },\n];\nconst readingCards = readingDefinitions\n  .map((definition) => ({ ...definition, content: asText(source[definition.key]) }))\n  .filter((definition) => isUsefulText(definition.content));\nconst response = readingCards.map((card) => card.content).join('\\n\\n').trim() || asText(payload?.result) || asText(payload?.message) || 'No pude obtener las lecturas del día.';\nconst previewBase = readingCards[0]?.content || asText(source.evangelio) || response;\nconst collapsedPreview = previewBase.length > 160 ? `${previewBase.substring(0, 160).trim()}... *(ver panel lateral)*` : previewBase;\nconst uiElements = readingCards.map((card) => ({\n  type: 'reading_card',\n  title: card.title,\n  variant: card.variant,\n  content: card.content,\n}));\nif (info && (info.dia || info.celebracion || info.color || info.tiempo_liturgico)) {\n  uiElements.push({\n    type: 'liturgical_info',\n    title: 'Información litúrgica',\n    day: info.dia || '',\n    celebration: info.celebracion || '',\n    color: info.color || '',\n    liturgical_time: info.tiempo_liturgico || '',\n  });\n}\nif (asText(source.source_url)) {\n  uiElements.push({\n    type: 'source_link',\n    title: 'Fuente',\n    label: 'dominicos.org',\n    url: source.source_url,\n  });\n}\nif (asText(source.video_youtube)) {\n  uiElements.push({ type: 'video', title: 'Video de YouTube', url: source.video_youtube });\n}\nif (asText(source.audio_soundcloud)) {\n  uiElements.push({ type: 'audio', title: 'Audio en SoundCloud', url: source.audio_soundcloud });\n}\nreturn {\n  tenant_id: tenantId,\n  texto: collapsedPreview,\n  response,\n  ui_elements: uiElements,\n  source: 'mcp_catolico_lecturas_dia',\n};"
      },
      "id": "5e418200-3450-4952-a3b1-9b964a50fc41",
      "name": "Formatear Lecturas MCP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2736,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://conti-backend:9001/mcp/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const rawMessage = String($json.message || '').toLowerCase();\n  const normalizedMessage = rawMessage.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  const weekdayMatch = normalizedMessage.match(/\\b(domingo|lunes|martes|miercoles|jueves|viernes|sabado)\\b/);\n  let fecha = 'hoy';\n\n  // Formato DD-MM-AAAA (viene del date picker)\n  const ddmmyyyyMatch = normalizedMessage.match(/\\b(\\d{1,2})-(\\d{1,2})-(\\d{4})\\b/);\n  // Formato YYYY-MM-DD\n  const isoMatch = normalizedMessage.match(/\\b(\\d{4})-(\\d{2})-(\\d{2})\\b/);\n\n  if (ddmmyyyyMatch) {\n    const [, d, m, y] = ddmmyyyyMatch;\n    fecha = `${y}-${m.padStart(2,'0')}-${d.padStart(2,'0')}`;\n  } else if (isoMatch) {\n    fecha = isoMatch[0];\n  } else if (/\\bpasado\\s+manana\\b/.test(normalizedMessage)) {\n    const targetDate = new Date();\n    targetDate.setHours(0, 0, 0, 0);\n    targetDate.setDate(targetDate.getDate() + 2);\n    fecha = targetDate.toISOString().slice(0, 10);\n  } else if (/\\bmanana\\b/.test(normalizedMessage)) {\n    const targetDate = new Date();\n    targetDate.setHours(0, 0, 0, 0);\n    targetDate.setDate(targetDate.getDate() + 1);\n    fecha = targetDate.toISOString().slice(0, 10);\n  } else if (weekdayMatch) {\n    const weekdayMap = { domingo: 0, lunes: 1, martes: 2, miercoles: 3, jueves: 4, viernes: 5, sabado: 6 };\n    const today = new Date();\n    today.setHours(0, 0, 0, 0);\n    const currentDay = today.getDay();\n    const targetDay = weekdayMap[weekdayMatch[1]];\n    const dayOffset = (targetDay - currentDay + 7) % 7;\n    const targetDate = new Date(today);\n    targetDate.setDate(today.getDate() + dayOffset);\n    fecha = targetDate.toISOString().slice(0, 10);\n  }\n\n  return {\n    tool_name: 'catolico_lecturas_dia',\n    arguments: { fecha },\n  };\n})() }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "0311e68f-e377-4a2b-b0ae-4b308a0f4f91",
      "name": "Llamar MCP Lecturas del Día",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2896,
        512
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($json.message || '').toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g, '') }}",
        "rules": {
          "rules": [
            {
              "operation": "regex",
              "value2": "=\\bobtener\\s+documento\\b"
            },
            {
              "operation": "regex",
              "value2": "=((lecturas?|evangelio|misa)\\s+(de(l)?|para)\\s+(el\\s+|la\\s+|este\\s+|esta\\s+|proximo\\s+)?(dia|hoy|manana|domingo|lunes|martes|miercoles|jueves|viernes|sabado|\\d{1,2}[-/]\\d{1,2}[-/]\\d{2,4}))",
              "output": 1
            },
            {
              "operation": "regex",
              "value2": "=\\b(resum[a-z]*|sintetiz[a-z]*|sintesis)\\b",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "920c64c7-dafd-41aa-b427-c881ad4d0f82",
      "name": "Detectar Lecturas de Hoy",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3168,
        592
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Llamar MCP Leer Documento": {
      "main": [
        [
          {
            "node": "Formatear Documento MCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar MCP Resumir": {
      "main": [
        [
          {
            "node": "Formatear Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Listar Titulos": {
      "main": [
        [
          {
            "node": "Validar Titulo Resumir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Titulo Resumir": {
      "main": [
        [
          {
            "node": "Llamar Hermes Católico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar Hermes Default": {
      "main": [
        [
          {
            "node": "Normalizar Hermes Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar Hermes Resto": {
      "main": [
        [
          {
            "node": "Normalizar Hermes Resto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar Hermes Católico": {
      "main": [
        [
          {
            "node": "Normalizar Hermes Católico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rutear por Tenant": {
      "main": [
        [
          {
            "node": "Detectar Lecturas de Hoy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Llamar Hermes Resto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Llamar Hermes Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Documento MCP": {
      "main": [
        [
          {
            "node": "Analizador de Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Hermes Default": {
      "main": [
        [
          {
            "node": "Analizador de Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Hermes Resto": {
      "main": [
        [
          {
            "node": "Analizador de Contenido Resto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Hermes Católico": {
      "main": [
        [
          {
            "node": "Analizador de Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Resumen": {
      "main": [
        [
          {
            "node": "Analizador de Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Tenant": {
      "main": [
        [
          {
            "node": "Acciones Católico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acciones Resto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acciones Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizador de Contenido": {
      "main": [
        [
          {
            "node": "Switch por Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizador de Contenido Resto": {
      "main": [
        [
          {
            "node": "Switch por Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acciones Default": {
      "main": [
        [
          {
            "node": "Responder a Chainlit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acciones Resto": {
      "main": [
        [
          {
            "node": "Responder a Chainlit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acciones Católico": {
      "main": [
        [
          {
            "node": "Responder a Chainlit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estandarizar Variables": {
      "main": [
        [
          {
            "node": "Rutear por Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Universal": {
      "main": [
        [
          {
            "node": "Estandarizar Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Lecturas MCP": {
      "main": [
        [
          {
            "node": "Analizador de Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar MCP Lecturas del Día": {
      "main": [
        [
          {
            "node": "Formatear Lecturas MCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Lecturas de Hoy": {
      "main": [
        [
          {
            "node": "Llamar MCP Leer Documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Llamar MCP Lecturas del Día",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Llamar Hermes Católico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Llamar Hermes Católico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9b57d9fa-5720-4458-9192-3a1fb66f6d54",
  "meta": {
    "instanceId": "591d130969aadbcaf3337e28be8be9682d6d0e69e8cac16f20a8853f5778dcaa"
  },
  "nodeGroups": [],
  "id": "rB9dA8MGGE7bQTpf",
  "tags": []
}